# Binaries for programs and plugins
*.exe
client_mac
client_linux
client_rpi
server_mac
server_linux
server_rpi
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
